body{
    margin: 0;
    padding: 0;
}
nav ul{
    /*essential*/
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    /*non essential*/
    background: green;
    font-size: 20px;
}
nav a{
    /*essential*/
    text-decoration: none;
    float: left;
    display: block;
    padding: 14px 16px;
    /*non essential*/
    color: white;
}
nav a:hover{
    background: black;
    cursor: pointer;
}
/*responsive*/
@media only screen and (max-width: 650px){
    nav ul{
        width: 100%;
    }
    nav a{
        float: none;
        text-align: center;
        font-size: 25px;
        border-bottom: white solid 1px;    }
}
